<!DOCTYPE html>
<html>

<head>
	<title>Vitalfit</title>
	<meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="format-detection" content="telephone=no" />

	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
	<link rel="stylesheet" href="custom/custom.css" type="text/css">
	<!-- <link rel="stylesheet" href="node_modules/keen-ui/dist/keen-ui.min.css"> -->

	<script src="phonegap.js"></script>
	<script src="vendors/fastclick.min.js" type="text/javascript"></script>

	<script src="vendors/jquery.min.js" type="text/javascript"></script>
	<script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
	<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>
	<script src="vendors/iscroll-min.js" type="text/javascript"></script>

	<script src="mobileui/mui.min.js" type="text/javascript"></script>
	<script src="custom/custom.js" type="text/javascript"></script>

	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="node_modules/keen-ui/dist/keen-ui.min.js"></script> -->

    
	<script>
		$(document).ready(() => {

            $.ajax({
				type: 'GET',
				url: 'https://app-personal-trainer.herokuapp.com/myinfo',
				xhrFields: { withCredentials: true },
				crossDomain: true,
				success: function(data){
					homePage.alumno = data
				}
			})
			
			
            const homePage = new Vue({
				el: "#home-page",
				data: {
					alumno: {
                        username: String,
                        nombre: String,
                        nacimiento: Date,
                        nro_contacto: Number,
                        mail: String,
                        planes: Array
					}
					
				},
				methods: {
					verPlanes: function(){
						$.ajax({
							type: 'GET',
							url: 'https://app-personal-trainer.herokuapp.com/myinfo/planes',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								planesPage.planes = data
							}
						})
						mui.viewport.showPage("planes-page", 'SLIDE_LEFT')
					},
					verPlanActual: function(){
						$.ajax({
							type: 'GET',
							url: 'https://app-personal-trainer.herokuapp.com/myinfo/plan_asignado',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								planPageAsignado.plan = data
							}
						})
						mui.viewport.showPage("plan-page-asignado", 'SLIDE_LEFT')
					},
					logout: function(){
						$.ajax({
							type: 'GET',
							url: 'https://app-personal-trainer.herokuapp.com/logout',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								document.location.href = "index.html"
							}
						})
					}
					
				}
			})
            
            const planesPage = new Vue({
				el:"#planes-page",
				data: {
					planes: []
				},
                methods: {
					handleSelectDia: function(dia){
						diaPage.dia = dia;
						diaPage.plan = this.plan;
						mui.viewport.showPage("dia-page", "SLIDE_LEFT");
					}
				}
			})

			const menuPanel = new Vue({
				el: "#menu-panel",
				methods:{
					logout: function(){
						$.ajax({
							type: 'GET',
							url: 'https://app-personal-trainer.herokuapp.com/logout',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								document.location.href = "index.html"
							}
						})
					},
					irachangepassword: function(){
						mui.viewport.showPage("changepassword-page", "SLIDE_LEFT");
					}
				}
			})

			const planPageAsignado = new Vue({
				el:"#plan-page-asignado",
				data: {
					plan: Object
				},
                methods: {
					handleSelectDia: function(dia){
						diaPageAsignado.dia = dia;
						diaPageAsignado.plan = this.plan;
						mui.viewport.showPage("dia-page-asignado", "SLIDE_LEFT");
					}
				}
				
			})

			const diaPage = new Vue({
				el:"#dia-page",
				data: {
					dia: Object,
					plan: Object
				},
                methods: {
					borrar: function(ejercicio1, sesion1){
						urlSesiones = `https://app-personal-trainer.herokuapp.com/myinfo/planes/${this.plan._id}/dias/${this.dia._id}/ejercicios/${ejercicio1._id}/sesiones/${sesion1._id}`
						console.log(urlSesiones);
						POSTData = "Te amo"
						$.ajax({
							type: 'POST',
							dataType: "json",
							data: POSTData,
							url: urlSesiones,
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								mui.viewport.showPage("dia-page-asignado", "SLIDE_LEFT");
							}
						})

					},
					verSesiones: function(value) {
						verSesiones.sesiones = value.sesiones
						verSesiones.nombreEjercicio = value.nombre
						mui.viewport.showPage("visualizarSesiones-page", "SLIDE_LEFT")
					},
					graph: function (ejercicio){
						valores = []
						numeros = []
						i = 0
						for(const sesion in ejercicio.sesiones) {
							if(sesion.intensidad)
							i++;
							valores.push(sesion.intensidad);
							numeros.push(i);
						}
						zingchart.render({
						id: 'myChart',
						data: {
							type: 'line',
							series: [
							{ values: valores},
							{ values: numeros}
							]
						}
						});
					}
				}
				
			})

			const verSesiones = new Vue({
				el: '#visualizarSesiones-page',
				data: {
					nombreEjercicio: "",
					sesiones: []
				},
				methods: {}
			})

			const diaPageAsignado = new Vue({
				el:"#dia-page-asignado",
				data: {
					dia: Object,
					sesion: String,
					plan: Object
				},
                methods: {
					handleSelectEjercicio: function(ejercicio){
						ejercicioPage.idDia = diaPageAsignado.dia._id;
						ejercicioPage.ejercicio = ejercicio;
						ejercicioPage.sesion = {							
							nombre:"",
							series:"",
							repeticiones:"",
							intensidad:"",
							tiempo:""
						}
						mui.viewport.showPage("ejercicio-page", "SLIDE_LEFT");
					},
					seleccionarSesion: function(sesionSelected){
						this.sesion=sesionSelected;
					},
					borrar: function(ejercicio1, sesion1){
						urlSesiones = `https://app-personal-trainer.herokuapp.com/myinfo/planes/${this.plan._id}/dias/${this.dia._id}/ejercicios/${ejercicio1._id}/sesiones/${sesion1._id}`
						console.log(urlSesiones);
						POSTData = "Te amo"
						$.ajax({
							type: 'POST',
							dataType: "json",
							data: POSTData,
							url: urlSesiones,
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								mui.viewport.showPage("dia-page-asignado", "SLIDE_LEFT");
							}
						})

					}
				},
				// mounted(){
				// 		valores = []
				// 		numeros = []
				// 		i = 0
				// 		for(const sesion in ejercicio.sesiones) {
				// 			if(sesion.intensidad)
				// 			i++;
				// 			valores.push(sesion.intensidad);
				// 			numeros.push(i);
				// 		}
				// 		zingchart.render({
				// 		id: 'myChart',
				// 		data: {
				// 			type: 'line',
				// 			series: [
				// 			{ values: valores},
				// 			{ values: numeros}
				// 			]
				// 		}
				// 		});
				// 	}
					
					
				
				
			})

			const ejercicioPage = new Vue({
				el:"#ejercicio-page",
				data: {
					plan: Object,
					ejercicio: Object,
					idDia: String,
					sesion: {
						nombre:"",
						series:"",
						repeticiones:"",
						intensidad:"",
						tiempo:""
					}
				},
                methods: {
					confirmarSesionEjercicios: function(){
						if(this.sesion.nombre != "" && this.sesion.series != "" && this.sesion.repeticiones != "" && this.sesion.intensidad != "" && this.sesion.tiempo != ""){
							idEjercicio = this.ejercicio._id;
							POSTData = this.sesion;
							urlSesiones = 'https://app-personal-trainer.herokuapp.com/myinfo/plan_asignado/dias/'+this.idDia+'/ejercicios/'+idEjercicio+'/sesiones'
							$.ajax({
								type: 'POST',
								dataType: "json",
								data: POSTData,
								url: urlSesiones,
								xhrFields: { withCredentials: true },
								crossDomain: true,
								success: function(data){
									mui.viewport.showPage("dia-page-asignado", "SLIDE_RIGHT");
								}
							})
						}
						
					}
				}
				
			})

			const changepasswordPage = new Vue({
				el: "#changepassword-page",
				data:{
					password: Object
				},
				methods: {
					changepassword: function(){
						POSTData = ejercicioPage.password;
						$.ajax({
							type: 'POST',
							dataType: "json",
							data: {
								'newPassword': this.password.password
							},
							url: "https://app-personal-trainer.herokuapp.com/myinfo/changepassword",
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								alert("Contraseña cambiada");
							}
						})
					}
				}
			})
		})
	</script>


</head>

<body>
	<!-- Main wrapper. Importantly, think carefully before you change it or remove it. Do not recommend it. -->
	<!-- Main wrapper. Importante, Piénselo bien antes de cambiarlo o quitarlo. No se lo recomiendo. -->
	<div id="mui-screen" class="mui-viewport">
		<div id="mui-screen-page" class="mui-page">
			<!-- Ddefault viewport. Do not remove. It will make your life simpler and happy. -->
			<!-- ViewPort por defecto. No lo elimines. Hará tu vida más simple y feliz. -->
			<div id="mui-viewport" class="mui-viewport">


<!--PAGINA INICIO-->


				<div id="home-page" class="mui-page">
					<div class="mui-page-header">
						<div class="mui-page-logo"></div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="home-body">
						<div>
							<div class="col-80">
								<p class="titulo">Bienvenido</p>
								<p class="titulo_secundario">{{alumno.nombre}}</p>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
                                <span>
									<button class="planes_alumno_boton" @click="verPlanes"> Mostrar todos los planes </button>
								</span>
								<span>
									<button class="planes_alumno_boton" @click="verPlanActual"> Mostrar plan actual </button>
								</span>
							</div>
						</div>
					</div>
				</div>


<!-- TODOS LOS PLANES -->


				<div id='planes-page' class="mui-page">
                    <div class="mui-page-header">
                        <a class="mui-backarrow" href="#"></a>
                        <div class='mui-page-title'> PLANES </div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div class="col-80">
								<p class="titulo">PLANES</p>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
								<ul class="lista_planes_cliente">
									<li v-for="plan in planes">
										<a onclick="desplegarDiasClienteOnclick(this)">{{plan.nombre}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
                </div>

<!-- PLAN ASIGNADO -->

                <div id='plan-page-asignado' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>{{plan.nombre}}</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div class="col-80">
							<p class="titulo">{{plan.nombre}}</p>
						</div>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<div class="col-80">
							<button class="planes_alumno_boton" v-for="dia in plan.dias" @click="handleSelectDia(dia)">{{dia.nombre}}</button>
						</div>
					</div>
				</div>


<!-- PLAN ASIGNADO - DIA SELECCIONADO -->


				<div id='dia-page-asignado' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>{{dia.nombre}}</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body"  style="overflow:scroll">
						<p class="titulo">EJERCICIOS</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="ejercicio in dia.ejercicios">
								<div class="col-80">
									<p class="nombre_ejercicio">{{ejercicio.nombre}}</p>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{ejercicio.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{ejercicio.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{ejercicio.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{ejercicio.tiempo}}</p>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<button class="ver_sesiones_boton" @click="handleSelectEjercicio(ejercicio)">Agregar Sesion</button>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
					<br>
				</div>


<!-- PLAN ASIGNADO - DIA SELECCIONADO - AGREGAR SESION -->


<div id='ejercicio-page' class="mui-page">
	<div class="mui-page-header">
		<a class="mui-backarrow" href="#"></a>
		<div class='mui-page-title'>AGREGAR SESIÓN</div>
		<a class="mui-headmenu" href="#"></a>
	</div>
	<div class="mui-page-body" id="second-body" style="overflow:scroll">
		<p class="titulo">NUEVA SESIÓN DE</p>
		<p class="titulo">{{ejercicio.nombre}}</p>
		<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
		<div class= "col-80" id="elementos_sesion">
			<p class="sesion_elemento">Nombre:</p><input type="String" placeholder="Nombre de sesion" v-model="sesion.nombre">
			<br>
			<p class="sesion_elemento">Series:</p><input type="Number" placeholder="Series realizadas" v-model="sesion.series">
			<br>
			<p class="sesion_elemento">Repeticiones:</p><input type="Number" placeholder="Repeticiones realizadas" v-model="sesion.repeticiones">
			<br>
			<p class="sesion_elemento">Intensidad:</p><input type="Number" placeholder="Intensidad Alcanzada" v-model="sesion.intensidad">
			<br>
			<p class="sesion_elemento">Tiempo:</p><input type="Number" placeholder="Tiempo de Ejecución" v-model="sesion.tiempo">
			<br>
		</div>
		<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
		<br>
		<button class="confirmar_boton" @click="confirmarSesionEjercicios">Confirmar</button>
	</div>
</div>



<!-- PLAN SELECCIONADO - DIA SELECCIONADO -->				


				<div id='dia-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>{{dia.nombre}}</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body"  style="overflow:scroll">
						<p class="titulo">EJERCICIOS</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="ejercicio in dia.ejercicios">
								<div class="col-80">
									<p class="nombre_ejercicio">{{ejercicio.nombre}}</p>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{ejercicio.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{ejercicio.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{ejercicio.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{ejercicio.tiempo}}</p>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<button class="ver_sesiones_boton" @click="verSesiones(ejercicio)">Ver Sesiones</button>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
				</div>


<!-- PLAN SELECCIONADO - DIA SELECCIONADO - VISUALIZAR SESIONES -->


				<div id='visualizarSesiones-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>SESIONES</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">{{nombreEjercicio}}</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="(sesion, i) in sesiones">
								<div class="col-80">
									<p class="nombre_ejercicio">Sesión - {{i + 1}}</p>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{sesion.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{sesion.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{sesion.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{sesion.tiempo}}</p>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<br>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
				</div>

<!-- CAMBIO CONTRASEÑA -->


				<div id='changepassword-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow-home" href="#"></a>
						<div class='mui-page-title'>CAMBIAR CONTRASEÑA</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body mui-scrollable" id="second-body">
						<p class="titulo">CAMBIO CONTRASEÑA</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<div class= "col-80">
							<p class="sesion_elemento">Contraseña anterior:</p><input type="password" placeholder="Nombre de sesion" v-model="password.oldPassword">
							<br>
							<p class="sesion_elemento">Nueva contraseña:</p><input type="password" placeholder="Series realizadas" v-model="password.password">
							<br>
						</div>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<br>
						<button class="confirmar_boton" @click="changepassword">Confirmar</button>
					</div>
				</div>
                
<!-- Optional.Toolbar out of mui-viewport to be omnipresent. Remove if not needed. -->
<!-- Opcional. Barra de herramientas fuera de mui-viewport para ser omnipresente. Elimínalo si no lo necesitas. -->
				
				<div class="mui-tabbar" id="footer">
					<ul class="mui-tabbar-list">
						<li class="mui-tabbar-button"><a href="#" id="tabbar-button1"></a></li>
						<li class="mui-tabbar-button"><a href="#" id="tabbar-button2"></a></li>
						<li class="mui-tabbar-button"><a href='#' id="tabbar-button3"></a></li>
					</ul>
				</div>
			</div>

<!-- mui-screen level panel -->
<!-- Panel a nivel de mui-screen -->
			

		</div>
		<div id="menu-panel" class="mui-panel">
			<div class="mui-panel-header">
				<div class='mui-panel-title'>Menu</div>
			</div>
			<div class="mui-panel-body">
				<div>
					<ul id='menuoptions' class='mui-list'>
						<li><a @click="logout">Cerrar sesión</li></a>
						<li><a @click="irachangepassword">Cambiar contraseña</li></a>
					</ul>
				</div>
			</div>
		</div>
	</div>


</body>

</html>