<!DOCTYPE html>
<html>

<head>
	<title>Vitalfit</title>
	<meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="format-detection" content="telephone=no" />

	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
	<link rel="stylesheet" href="custom/custom.css" type="text/css">
	<link rel="stylesheet" href="node_modules/keen-ui/dist/keen-ui.min.css">

	<script src="phonegap.js"></script>
	<script src="vendors/fastclick.min.js" type="text/javascript"></script>

	<script src="vendors/jquery.min.js" type="text/javascript"></script>
	<script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
	<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>
	<script src="vendors/iscroll-min.js" type="text/javascript"></script>

	<script src="mobileui/mui.min.js" type="text/javascript"></script>
	<script src="custom/custom.js" type="text/javascript"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="node_modules/keen-ui/dist/keen-ui.min.js"></script> -->


	<script>
		$(document).ready(() => {	
			
//******** INTERACCIONES CON LA BASE DE DATOS **********//

			$.ajax({
				type: 'GET',
				url: 'https://app-personal-trainer.herokuapp.com/clientes/',
				xhrFields: { withCredentials: true },
				crossDomain: true,
				success: function(data){
					homePage.alumnos = data
				}
			})
			

//******** OBJETOS VUE **********//

			const homePage = new Vue({
				el: "#home-page",
				data: {
					alumnos: [],
					alumnoSeleccionado: ""
				},
				methods: {
					nuevoAlumno: function() {
						mui.viewport.showPage("nuevoAlumno-page", 'DEF')
					},
					verAlumno: function() {
						verAlumno.alumno.nombre =this.alumnoSeleccionado.nombre.split(" ")[0]
						verAlumno.alumno.apellido = this.alumnoSeleccionado.nombre.split(" ")[1]
						verAlumno.alumno.username = this.alumnoSeleccionado.username
						if(this.alumnoSeleccionado.fecha_nacimiento != undefined){
							verAlumno.alumno.fecha_nacimiento = this.alumnoSeleccionado.fecha_nacimiento.split("T")[0]
						}
						verAlumno.alumno.nro_contacto = this.alumnoSeleccionado.nro_contacto
						verAlumno.alumno.mail = this.alumnoSeleccionado.mail
						mui.viewport.showPage("visualizarAlumno-page", 'DEF')
					},
					verPlanes: async function(){
						verPlanes.alumno = this.alumnoSeleccionado
						await verPlanes.cargarPlanes()
							mui.viewport.showPage("visualizarPlanes-page", 'DEF')

					},
					abrirPlanNuevo: function(value) {
						this.alumnos[value]._id = planNuevo.alumnoId
						mui.viewport.showPage("planNuevo-page", 'DEF')
					},
					abrirNuevaSesion: function(value) {
						this.alumnos[value]._id = sesionNueva.alumnoId
						mui.viewport.showPage("nuevaSesion-page", 'DEF')
					},
					asignacionPlan: function() {
						asignarPlan.alumno = this.alumnoSeleccionado
						asignarPlan.cargarPlanes()
						mui.viewport.showPage("asignarPlan-page", 'DEF')
					},
					
					
					logout: function(){
						$.ajax({
							type: 'GET',
							url: 'https://app-personal-trainer.herokuapp.com/logout',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								document.location.href = "index.html"
							}
						})
					},
					seleccionarAlumno(alumno){
						this.alumnoSeleccionado = alumno
					}
				}
			})

			const alumnoNuevo = new Vue({
				el: "#nuevoAlumno-page",
				data: {
					alumnos: [],
					alumno:{
						nombre: "",
						apellido: "",
						fechaDeNac: "",
						nroContacto: "",
						email: ""
					}
				},
				methods: {
					confirmarAlumno: function() {
						// this.alumnos.push(this.alumno)
						$.ajax({
							type: 'POST',
							url: 'https://app-personal-trainer.herokuapp.com/clientes/',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							data: {
								'nombre': this.alumno.nombre + " " + this.alumno.apellido,
								'username': this.alumno.nombre.toLowerCase() + "." + this.alumno.apellido.split(" ")[0].toLowerCase(),
								'admin': false,
								'password': this.alumno.apellido,
								'fecha_nacimiento': this.alumno.fecha_nacimiento,
								'nro_contacto': this.alumno.nro_contacto,
								'mail': this.alumno.mail
							},
							dataType: 'json',
							success: (responseData)=>{
								alert(responseData)
							}

						})
						alert(this.alumno.nombre)
						this.alumno.nombre = ""
						this.alumno.apellido = ""
						this.alumno.fechaDeNac = ""
						this.alumno.nroContacto = ""
						this.alumno.email = ""
						mui.viewport.showPage("home-page", "DEF")
					}
				}
			})

			const verAlumno = new Vue({
				el:"#visualizarAlumno-page",
				data: {
					alumno: {
						nombre: "",
						apellido: "",
						fecha_nacimiento: "",
						nro_contacto: "",
						mail: "",
						username: ""
					}
				},
				methods: {
					eliminarAlumno: function() {
						username = this.alumno.username
						$.ajax({
							type: 'POST',
							url: 'https://app-personal-trainer.herokuapp.com/clientes/' + username + "/borrar",
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								alert("Eliminado")
							}
						})
						return false
					}
				}
			})

			const planNuevo = new Vue({
				el: "#planNuevo-app",
				data: {
					alumnoId: "",
					nombrePlan: '',
					dias: [],
					nombreDia: "",
				},
				methods: {
					agregarDia: function () {
						diaAux = {
							nombre: this.nombreDia,
							ejercicios:[]
						}
						this.dias.push(diaAux)
						
					},
					quitarDia: function () {
						this.dias.pop()
					},
					diaNuevo: function (value) {
						diaNuevo.ejercicios = this.dias[value].ejercicios
						diaNuevo.indiceDia = value
						mui.viewport.showPage("diaNuevo-page", "DEF")
					},
					confirmarPlan: function() {
						var planAux = {
							nombreAux: this.nombrePlan,
							diasAux: this.dias
						}
						mui.viewport.showPage("home-page", "DEF")
					}
				}
			})
			

			const menuPanel = new Vue({
				el: "#menu-panel",
				methods:{
					logout: function(){
						$.ajax({
							type: 'GET',
							url: 'https://app-personal-trainer.herokuapp.com/logout',
							xhrFields: { withCredentials: true },
							crossDomain: true,
							success: function(data){
								document.location.href = "index.html"
							}
						})
					},
					irachangepassword: function(){
						mui.viewport.showPage("changepassword-page", "DEF");
					}
				}
			})

			const diaNuevo = new Vue({
				el: '#diaNuevo-app',
				data: {
					indiceDia: 0,
					ejercicios: [],
					ejercicio: {
						nombre: "",
						series: "",
						reps: "",
						intensidad: "",
						tiempo: ""
					}
				},
				methods: {
					agregarEjercicio: function () {
						nro = this.ejercicios.length + 1
						this.ejercicios.push(this.ejercicio)
						this.ejerciciosHtml.push('<div class= "col-80"><span><p>Ejercicio' + nro + '</p></span><p>Nombre:</p><input type="Text" v-model="ejercicios[' + nro + '].nombre"><br><p>Series:</p><input type="Number" v-model="ejercicios[' + nro + '].series"><br><p>Reps:</p><input type="Number" v-model="ejercicios[' + nro + '].reps"><br><p>Intensidad:</p><input type="Number" v-model="ejercicios[' + nro + '].intensidad"><br><p>Tiempo:</p><input type="Number" v-model="ejercicios[' + nro + '].tiempo"><br></div><br><hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">')
					},
					confirmarEjercicio: function() {
						planNuevo.dias[this.indiceDia].ejercicios = this.ejercicios
						this.ejercicios = []
						mui.viewport.showPage("planNuevo-page", "DEF")
					}
				}
			})

			const sesionNueva = new Vue({
				el: '#nuevaSesion-app',
				data: {
					alumnoId: "",
					planes:[
						{
							nombre: 'Prueba',
							dias: [
								{
									nombre: "Dia de Pecho",
									ejercicios: [
										{
											nombre: "pecho plano",
											series: 3,
											reps: 2,
											intensidad: 10,
											tiempo: 60,
											sesiones:[]
										},
										{
											nombre: "Tren Inferior",
											series: 4,
											reps: 1,
											intensidad: 70,
											tiempo: 60,
											sesiones:[]
										}
									]
								}
							]
						}
					]
				},
				methods: {
					abrirDiaSesionNueva: function(value1, value2) {
						ejerciciosSesion.ejercicios = this.planes[value1].dias[value2].ejercicios
						ejerciciosSesion.planSerial = value1
						ejerciciosSesion.diaSerial = value2
						mui.viewport.showPage("nuevaSesionEjercicios-page", "DEF")
					},
					confirmarSesion: function() {

						mui.viewport.showPage("home-page", "DEF")
					}
				}
			})

			const ejerciciosSesion = new Vue({
				el: '#nuevaSesionEjercicios-app',
				data: {
					planSerial: 0,
					diaSerial: 0,
					ejercicios: []
				},
				methods: {
					confirmarSesionEjercicios: function() {
						for (i in this.ejercicios) {
							var sesionAux = {
								nombre: "",
								series: "",
								reps: "",
								intensidad: "",
								tiempo: ""
							}
							var ejercicioAux = this.ejercicios[i]

							sesionAux.nombre = ejercicioAux.nombre,
							sesionAux.series = ejercicioAux.series,
							sesionAux.reps = ejercicioAux.reps,
							sesionAux.intensidad = ejercicioAux.intensidad,
							sesionAux.tiempo = ejercicioAux.tiempo
							
							var planId = planes[this.planSerial]._id
							var diaId = dias[this.diaSerial]._id
							var ejercicioId = ejercicios[i]._id
							//sesionNueva.planes[this.planSerial].dias[this.diaSerial].ejercicios[i].sesiones.push(sesionAux)
						}
						this.ejercicios = []
						mui.viewport.showPage("nuevaSesion-page", "DEF")
					}
				}
			})

			const verPlanes = new Vue({
				el: '#visualizarPlanes-page',
				data: {
					alumno: '',
					planes:[]
				},
				methods: {
					abrirEjerciciosVisualizar: function( dia ) {
						verEjercicios.ejercicios = dia.ejercicios
						mui.viewport.showPage("visualizarEjercicios-page", "DEF")
					},
					async cargarPlanes(){
						URL =  'https://app-personal-trainer.herokuapp.com' + '/clientes/' + this.alumno.username + '/planes'
						await $.ajax({
							type: 'GET',
							url: URL,
							xhrFields: { withCredentials: true },
							crossDomain: true,
							dataType: 'json',
							success: (responseData)=>{
								this.planes = responseData
							}

						})
					}
				}
			})

			const verEjercicios = new Vue({
				el: '#visualizarEjercicios-page',
				data: {
					ejercicios: []
				},
				methods: {}
			})

			const asignarPlan = new Vue({
				el: '#asignarPlan-page',
				data: {
					alumno: '',
					planes: []
				},
				methods: {
					async cargarPlanes(){
						URL =  'https://app-personal-trainer.herokuapp.com' + '/clientes/' + this.alumno.username + '/planes'
						await $.ajax({
							type: 'GET',
							url: URL,
							xhrFields: { withCredentials: true },
							crossDomain: true,
							dataType: 'json',
							success: (responseData)=>{
								this.planes = responseData
							}

						})
					}
				}
			})
		})
	</script>
</head>

<body>
	<!-- Main wrapper. Importantly, think carefully before you change it or remove it. Do not recommend it. -->
	<!-- Main wrapper. Importante, Piénselo bien antes de cambiarlo o quitarlo. No se lo recomiendo. -->
	<div id="mui-screen" class="mui-viewport">
		<div id="mui-screen-page" class="mui-page">
			<!-- Ddefault viewport. Do not remove. It will make your life simpler and happy. -->
			<!-- ViewPort por defecto. No lo elimines. Hará tu vida más simple y feliz. -->
			<div id="mui-viewport" class="mui-viewport">


<!-- PAGINA INICIO -->


				<div id="home-page" class="mui-page">
					<div class="mui-page-header">
						<div class="mui-page-logo"></div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="home-body" style="overflow:scroll">
						<div>
							<div class="col-80">
								<br>
								<span>
									<input type="text" class="filtro_alumnos_input" onkeyup="filtro('.filtro_alumnos_input', '.lista_alumnos')" placeholder="Buscar por nombre">
									<button class="agregar_alumno_boton" @click="nuevoAlumno">＋</button>
								</span>
								<ul class="lista_alumnos"><br>
									<li v-for="(alumno, index) in alumnos">
										<a @click="seleccionarAlumno(alumno)" onclick="desplegarOpcionesOnclick(this)">{{ alumno.nombre }}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>


<!-- CARGA DE DATOS NUEVO ALUMNO -->


				<div id='nuevoAlumno-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Carga de Datos - Nuevo Alumno</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div class="col-80" id="nuevoAlumnoID">
							<br>
							<p>Nombre:</p><input type="text" placeholder="Nombre" v-model="alumno.nombre"><br>
							<p>Apellido:</p><input type="text" placeholder="Apellido" v-model="alumno.apellido"><br>
							<p>Fecha de Nacimiento:</p><input type="date" placeholder="Fecha de Nacimiento" v-model="alumno.fechaDeNac"><br>
							<p>Nro. de Contacto:</p><input type="tel" placeholder="Nro. de Contacto" v-model="alumno.nroContacto"><br>
							<p>Email:</p><input type="email" placeholder="Email" v-model="alumno.email"><br><br>
							<button class="confirmar_boton" @click="confirmarAlumno">Confirmar</button>
						</div>
					</div>
				</div>


<!-- VISUALIZAR ALUMNO -->


				<div id='visualizarAlumno-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Alumno</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div class="col-80" id="vistaAlumno">
							<br>
							<p class="propiedad">Nombre:</p><p v-text="alumno.nombre"></p>
							<p class="propiedad">Apellido:</p><p v-text="alumno.apellido"></p>
							<p class="propiedad">Fecha de Nacimiento:</p><p v-text="alumno.fecha_nacimiento"></p>
							<p class="propiedad">Nro. de Contacto:</p><p v-text="alumno.nro_contacto"></p>
							<p class="propiedad">Email:</p><p v-text="alumno.mail"></p><br>
						</div>

							<button class="confirmar_boton" @click="eliminarAlumno"> Eliminar usuario </button>
					</div>
				</div>


<!-- CARGA DE DATOS PLAN NUEVO -->


				<div id='planNuevo-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Carga de Datos - Plan Nuevo</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="planNuevo-app">
							<div class= "col-80">
								<br>
								<div>
									<label class="nombre_plan_label">Nombre del Plan: </label>
									<input v-model="nombrePlan" type="text" placeholder="Ingrese Nuevo Nombre" class="nombre_plan_input">
								</div>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<br>
							<div class= "col-80">
								<span>
									<input type="text" class="filtro_dias_input" onkeyup="filtro('.filtro_dias_input', '.lista_dias')" placeholder="Buscar día">
								</span>
								<span>
									<button id="nuevoDia" class="agregar_boton" v-on:click="agregarDia">＋</button>
									<button id="quitarDia" class="quitar_boton" v-on:click="quitarDia">&minus;</button>
									<input type="text" class="nombre_dia_input" v-model="nombreDia" placeholder="Ingrese Nombre Dia">
								</span>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<ul class="lista_dias">
									<li  v-for="(dia, index) in dias">
										<a v-on:click="diaNuevo(index)" v-text="dia.nombre"></a>
									</li>
								</ul>
								<br>
								<button class="confirmar_boton" @click="confirmarPlan">Confirmar</button>
							</div>
						</div>
					</div>
				</div>


<!-- CARGA DE EJERCICIOS AL DIA -->


				<div id='diaNuevo-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Carga de Datos - Día Nuevo</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="diaNuevo-app">
							<br>
							<div class= "col-80">
								<button id="nuevoEjercicio" class="agregar_ejercicio_boton" v-on:click="agregarEjercicio">Agregar Ejercicio</button>
							</div>
							<ul class="lista_ejercicios">
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<li v-for="(ejercicioA,index) in ejercicios">
									<div class= "col-80">
										<span><p>Ejercicio - {{ index + 1}}</p></span>
										<p>Nombre:</p><input type="Text" v-model="ejercicioA.nombre">
										<br>
										<p>Series:</p><input type="Number" v-model="ejercicioA.series">
										<br>
										<p>Reps:</p><input type="Number" v-model="ejercicioA.reps">
										<br>
										<p>Intensidad:</p><input type="Number" v-model="ejercicioA.intensidad">
										<br>
										<p>Tiempo:</p><input type="Number" v-model="ejercicioA.tiempo">
										<br>
									</div>
									<br>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								</li>
							</ul>
							<br>
							<button class="confirmar_boton" @click="confirmarEjercicio">Confirmar</button>
						</div>
					</div>
				</div>


<!-- CARGA DE DATOS SESION NUEVA -->


				<div id="nuevaSesion-page" class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Carga de Datos - Nueva Sesión</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div id="nuevaSesion-app">
								<div class="col-80">
									<br>
									<input type="text" class="filtro_planes_input" onkeyup="filtro('.filtro_planes_input', '.lista_planes')" placeholder="Buscar plan">
									<br>
									<ul class="lista_planes"><br>
										<li v-for='(plan, index1) in planes'>
											<a onclick="desplegarDiasOnclick(this)">{{plan.nombre}}</a>
										</li>
									</ul>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
								<button class="confirmar_boton" @click="confirmarSesion">Confirmar</button>
							</div>
						</div>
					</div>
				</div>


<!-- CARGA DE SESION POR EJERCICIO -->


				<div id='nuevaSesionEjercicios-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Carga de Datos - Nueva Sesión</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="nuevaSesionEjercicios-app">
							<br>
							<div class= "col-80">
							</div>
							<ul class="lista_sesion_ejercicios">
								<li v-for="ejercicio in ejercicios">
									<div class= "col-80">
										<span><p>{{ejercicio.nombre}}</p></span>
										<p>Series:</p><input type="Number" placeholder="Número de Series" v-model="ejercicio.series">
										<br>
										<p>Reps:</p><input type="Number" placeholder="Número de Repeticiones" v-model="ejercicio.reps">
										<br>
										<p>Intensidad:</p><input type="Number" placeholder="Intensidad Alcanzada" v-model="ejercicio.intensidad">
										<br>
										<p>Tiempo:</p><input type="Number" placeholder="Tiempo de Ejecución" v-model="ejercicio.tiempo">
										<br>
										<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									</div>
									<br>
								</li>
							</ul>
							<br>
							<button class="confirmar_boton" @click="confirmarSesionEjercicios">Confirmar</button>
						</div>
					</div>
				</div>


<!-- VISUALIZAR PLANES -->


				<div id="visualizarPlanes-page" class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Planes</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div id="visualizarPlanes-app">
								<div class="col-80">
									<br>
									<input type="text" class="filtro_planes_input" onkeyup="filtro('.filtro_planes_input', '.lista_planes')" placeholder="Buscar plan">
									<br>
									<ul class="lista_planes_visualizar"><br>
										<li v-for='plan in planes'>
											<a onclick="desplegarDiasVisualizarOnclick(this)">{{plan.nombre}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>


<!-- VISUALIZAR EJERCICIOS -->


				<div id='visualizarEjercicios-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Ejercicios</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<br>
						<div class= "col-80">
						</div>
						<ul class="lista_sesion_ejercicios">
							<li v-for="ejercicio in ejercicios">
								<div class= "col-80">
									<p class="nombre_ejercicio">{{ejercicio.nombre}}</p>
									<br>
									<p>Series: {{ejercicio.series}}</p>
									<br>
									<p>Reps: {{ejercicio.reps}}</p>
									<br>
									<p>Intensidad: {{ejercicio.intensidad}}</p>
									<br>
									<p>Tiempo: {{ejercicio.tiempo}}</p>
									<br>
									<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<br>
								</div>
								<br>
							</li>
						</ul>
					</div>
				</div>

<!-- ASIGNAR PLAN -->


				<div id="asignarPlan-page" class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>Asignar Plan</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div class="col-80">
								<p class="seleccionar_plan">Seleccionar Plan:</p>
								<br>
								<select class="col-80 planes_selector">
									<option v-for="plan in planes">{{plan.nombre}}</option>
								</select>
								<button v-if="1">Asignar plan</button>
							</div>
						</div>
					</div>
				</div>


<!-- Copy the code of "template-page" to add more pages -->
<!-- Copie el código de template-plage para agregar más páginas -->

<!-- Optional.Toolbar out of mui-viewport to be omnipresent. Remove if not needed. -->
<!-- Opcional. Barra de herramientas fuera de mui-viewport para ser omnipresente. Elimínalo si no lo necesitas. -->


				<div class="mui-tabbar" id="footer">
					<ul class="mui-tabbar-list">
						<li class="mui-tabbar-button"><a href="#" id="tabbar-button1"></a></li>
						<li class="mui-tabbar-button"><a href="#" id="tabbar-button2"></a></li>
						<li class="mui-tabbar-button"><a href='#' id="tabbar-button3"></a></li>
					</ul>
				</div>
			</div>

			<!-- mui-screen level panel -->
			<!-- Panel a nivel de mui-screen -->
		
		</div>
		<div id="menu-panel" class="mui-panel">
			<div class="mui-panel-header">
				<div class='mui-panel-title'>Menu</div>
			</div>
			<div class="mui-panel-body">
				<div>
					<ul id='menuoptions' class='mui-list'>
						<li><a id='option1' href="#">Go Home Page</a></li>
						<li><a id='option2' href="#">Go Page 2</a></li>
						<li><a @click="logout">Cerrar sesión</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
